# Core dependencies
Pillow==10.4.0
numpy==1.26.4
opencv-python==4.10.0.84
pdf2image==1.17.0
pytesseract==0.3.13
matplotlib==3.9.2

# OCR engines
pytesseract==0.3.13
easyocr==1.7.2

# ML/DL frameworks
tensorflow==2.18.0

# UI
gradio==5.9.1
